body{
    background-image: url(8040b5ff91ce8c3f153beebab39d584f.gif);
    display: table;
    width: 100%;
    height: 100%;
    padding: 100px 0;
    text-align: center;
    color: white;
    color:rgb(245, 198, 98);
    background-position: 30% 45%;
    background-size: 122%;
    font-size: 150%;
    
    
    
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h2{
    font-size: 150%;
    color:white;
}
h3{
    font-size: 150%;
    color:white;
}
.aaa{
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(7, 7, 7);
    background-position: 30% 45%;
    background-size: 122%;
    background-image: url(8040b5ff91ce8c3f153beebab39d584f.gif);
    
    overflow: hidden;
}
.aaa a{
    
    padding: 16px;
    text-decoration: none;
    display: block;
    color: rgb(245, 240, 240);
}
.aaa a:hover{

    background-color: rgb(168, 166, 167);
    color: rgb(10, 10, 10);
    
}
.b{
    
    margin-left: 200px;
    padding-left: 20px;
}
.c{
    margin-left: 200px;
    padding-left: 20px;
}